<div class="messages-Container">
    <div class="top-bar top-bar-glass">
        <h1 class="message-title">{{activeGesprek?.onderwerp}}</h1>
    </div>
    <div class="messages-main">
        <ul class="chat" *ngFor="let bericht of berichten">
            <li class="message left" *ngIf="bericht.afzenderId !== 0">
                <img class="logo" src="assets/userLogo.png" alt="">
                <div>
                    <div class="sender-info-left">
                        <label>{{bericht.afzenderNaam}}</label>
                    </div>
                    <p>{{bericht.inhoud}}</p>
                    <div class="time-stamp-left">
                        <label>{{bericht.verzonden | date : 'short'}}</label>
                    </div>
                </div>
            </li>
            <li class="message right" *ngIf="bericht.afzenderId === 0">
                <img class="logo" src="assets/userLogo.png" alt="">
                <div>
                    <p>{{bericht.inhoud}}</p>
                    <div class="time-stamp-right">
                        <label>{{bericht.verzonden | date : 'short'}}</label>
                    </div>
                </div>
            </li>
        </ul>
        <div class="no-content" *ngIf="!activeGesprek || berichten.length === 0">
            <img src="assets/noContent.svg">
        </div>
    </div>
</div>
